.wrap view{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100rpx;
  margin: 20rpx;
}
text:first-child{
  width: 300rpx;
}
text:last-child{
  flex: 1;
  height: 100%;
}
